@import "../../components/variables";


.activities-page {
    background-color: $color-primary;
    min-height: 100dvh;
    width: 100%;
    padding: 1rem;
 
    h1 {
      font: var(--font-ubuntu);
      color: white;
      font-size: $font-size-lg;
      text-align: left;
      margin: 2rem;
    }

}
