@import "../../components/variables";

.button {
    background-color: $color-primary;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: $font-size-sm;
    z-index: 1000;
    cursor: pointer;
    
    &:hover {
    background-color: darken($color-primary, 10%);
  }
  &:focus {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }
}